* {
  font-size: 62.5%;
  box-sizing: border-box;
  list-style: none;
}


body {
  font-family: 'Roboto', sans-serif;
  background-color: #1a1a1d;
}

header * {
  font-size: 2.5rem;
}

nav,
nav ul {
  display: flex;
  margin: 0;
}

nav span {
  font-weight: 700;
  color: hsl(205, 20%, 84%);

}

nav {
  justify-content: space-between;
  padding: 2rem;
}

nav ul {
  gap: 2rem;
}
nav li i {
  color: #c3073f;
}

.container { 
    padding: 0 2rem;
}
main {
  margin-top: 3rem;
}

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img img {
  width: 80%;
}

h1 {
  font-size: 3rem;
  text-align: center;
  line-height: 1.5;
  color: hsl(205, 20%, 94%);
}

p {
  font-size: 1.8rem;
  color: hsl(205, 20%, 84%);
}



footer ul * {
    font-size: 1.6rem;
  color: hsl(205, 20%, 84%);

}

footer ul {
    border-top: solid 1px #c3073f;
}

footer ul {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

footer li {
    /* padding-top: 2rem; */
    padding: 2rem 0 2rem 0
}

.github:hover {
    cursor: pointer;
    color: hsl(210, 8%, 91%);
}

